# OS or Editor folders
.DS_Store
.idea

# Folders to ignore
node_modules
projects
/build

/temp
/nbproject/private/
/JavaTMP-Static-Ajax/nbproject/private/
/JavaTMP-User-Starter/nbproject/private/
/JavaTMP-User-Starter/build/
/JavaTMP-User-Starter/dist/
/JavaTMP-Accounting/nbproject/private/
/JavaTMP-Accounting/build/
/JavaTMP-Accounting/dist/
/HTML5Application/nbproject/private/
/JavaTMP-Processing/nbproject/private/
/JavaTMP-Processing/build/
/JavaTMP-Processing/dist/