
.color-block {
    border: 1px solid #e7e7e7;
    margin: 0 0 10px;
    .color-display {
        /*padding: 50px;*/
        height: 100px;
        text-align: center;
        /*color: white;*/
        font-size: 20px;
        vertical-align: middle;
        line-height: 100px;
    }
    .color-number {
        padding: 5px;
        text-align: center;
    }
}