/*!
Bootswatch flatly theme
https://bootswatch.com/flatly/
*/
@import "../../../../node_modules/bootswatch/dist/flatly/_variables.scss";
@import "javatmp-default.scss";
@import "../../../../node_modules/bootswatch/dist/flatly/_bootswatch.scss";