/*!
Bootswatch darkly theme
https://bootswatch.com/darkly/
*/
@import "../../../../node_modules/bootswatch/dist/darkly/_variables.scss";
@import "javatmp-default.scss";
@import "../../../../node_modules/bootswatch/dist/darkly/_bootswatch.scss";