/*!
Bootswatch journal theme
https://bootswatch.com/journal/
*/
@import "../../../../node_modules/bootswatch/dist/journal/_variables.scss";
@import "javatmp-default.scss";
@import "../../../../node_modules/bootswatch/dist/journal/_bootswatch.scss";