$colorsMap: (
sienna: (base: #A0522D, highlight: darken(#A0522D,10%)),
indianred: (base: #CD5C5C, highlight: darken(#CD5C5C,10%)),
orangered: (base: #FF4500, highlight: darken(#FF4500,10%)),
darkcyan: (base: #008B8B, highlight: darken(#008B8B,10%)),
darkgoldenrod: (base: #B8860B, highlight: darken(#B8860B,10%)),
limegreen: (base: #32CD32, highlight: darken(#32CD32,10%)),
bright-gold: (base: #FFD700, highlight: darken(#FFD700,10%)),
mediumturquoise: (base: #48D1CC, highlight: darken(#48D1CC,10%)),
skyblue: (base: #87CEEB, highlight: darken(#87CEEB,10%)),
hotpink: (base: #FF69B4, highlight: darken(#FF69B4,10%)),
lightskyblue: (base: #87CEFA, highlight: darken(#87CEFA,10%)),
cornflowerblue: (base: #6495ED, highlight: darken(#6495ED,10%)),
dark-crimson: (base: #DC143C, highlight: darken(#DC143C,10%)),
darkorange: (base: #FF8C00, highlight: darken(#FF8C00,10%)),
mediumvioletred: (base: #C71585, highlight: darken(#C71585,10%)),
petal: (base: #F98866, highlight: darken(#F98866,10%)),
poppy: (base: #FF420E, highlight: darken(#FF420E,10%)),
stem: (base: #80BD9E, highlight: darken(#80BD9E,10%)),
sprint-green: (base: #89DA59, highlight: darken(#89DA59,10%)),
mist-blue: (base: #90AFC5, highlight: darken(#90AFC5,10%)),
blue-stone: (base: #336B87, highlight: darken(#336B87,10%)),
dark-shadow: (base: #2A3132, highlight: darken(#2A3132,10%)),
autumn-foliage: (base: #763626, highlight: darken(#763626,10%)),
crevice: (base: #46211A, highlight: darken(#46211A,10%)),
cloud-shadow: (base: #963D3D, highlight: darken(#963D3D,10%)),
desert: (base: #BA5536, highlight: darken(#BA5536,10%)),
red-clay: (base: #A43820, highlight: darken(#A43820,10%)),
thunder-cloud: (base: #505160, highlight: darken(#505160,10%)),
waterfall: (base: #68829E, highlight: darken(#68829E,10%)),
moss: (base: #AEBD38, highlight: darken(#AEBD38,10%)),
meadow: (base: #598234, highlight: darken(#598234,10%)),
dark-deep-aqua: (base: #003B46, highlight: darken(#003B46,10%)),
ocean: (base: #07575B, highlight: darken(#07575B,10%)),
wave: (base: #66A5AD, highlight: darken(#66A5AD,10%)),
seafoam: (base: #C4DFE6, highlight: darken(#C4DFE6,10%)),
forest-green: (base: #2E4600, highlight: darken(#2E4600,10%)),
/*grass: (base: #486B00, highlight: darken(#486B00,10%)),*/
bright-lime: (base: #A2C523, highlight: darken(#A2C523,10%)),
earth: (base: #7D4427, highlight: darken(#7D4427,10%)),
blue-black: (base: #021C1E, highlight: darken(#021C1E,10%)),
cadet-blue: (base: #004445, highlight: darken(#004445,10%)),
rain: (base: #2C7873, highlight: darken(#2C7873,10%)),
greenery: (base: #6FB98F, highlight: darken(#6FB98F,10%)),
dark-sky: (base: #375E97, highlight: darken(#375E97,10%)),
sunset: (base: #FB6542, highlight: darken(#FB6542,10%)),
sunflower: (base: #FFBB00, highlight: darken(#FFBB00,10%)),
grass: (base: #3F681C, highlight: darken(#3F681C,10%)),
aquamarine: (base: #98DBC6, highlight: darken(#98DBC6,10%)),
turquoise-1: (base: #5BC8AC, highlight: darken(#5BC8AC,10%)),
canary-yellow: (base: #E6D72A, highlight: darken(#E6D72A,10%)),
pink-tulip: (base: #F18D9E, highlight: darken(#F18D9E,10%)),
blue-pine: (base: #324851, highlight: darken(#324851,10%)),
new-grass: (base: #86AC41, highlight: darken(#86AC41,10%)),
reflection: (base: #34675C, highlight: darken(#34675C,10%)),
/*mist: (base: #7DA3A1, highlight: darken(#7DA3A1,10%)),*/
blue-sky: (base: #4CB5F5, highlight: darken(#4CB5F5,10%)),
granite: (base: #B7B8B6, highlight: darken(#B7B8B6,10%)),
dark-pine: (base: #34675C, highlight: darken(#34675C,10%)),
fields: (base: #B3C100, highlight: darken(#B3C100,10%)),
sandstone: (base: #F4CC70, highlight: darken(#F4CC70,10%)),
burnt-orange: (base: #DE7A22, highlight: darken(#DE7A22,10%)),
sea: (base: #20948B, highlight: darken(#20948B,10%)),
lagoon: (base: #6AB187, highlight: darken(#6AB187,10%)),
crimson: (base: #8D230F, highlight: darken(#8D230F,10%)),
far-forest: (base: #1E434C, highlight: darken(#1E434C,10%)),
red-rust: (base: #9B4F0F, highlight: darken(#9B4F0F,10%)),
dark-gold: (base: #C99E10, highlight: darken(#C99E10,10%)),
overcast: (base: #F1F1F2, highlight: darken(#F1F1F2,10%)),
light-warm-gray: (base: #BCBABE, highlight: darken(#BCBABE,10%)),
ice-blue: (base: #A1D6E2, highlight: darken(#A1D6E2,10%)),
glacier-blue: (base: #1995AD, highlight: darken(#1995AD,10%)),
lavender-gray: (base: #9A9EAB, highlight: darken(#9A9EAB,10%)),
branch: (base: #5D535E, highlight: darken(#5D535E,10%)),
pink-berry: (base: #EC96A4, highlight: darken(#EC96A4,10%)),
yellow-feathers: (base: #DFE166, highlight: darken(#DFE166,10%)),
darknavy: (base: #011A27, highlight: darken(#011A27,10%)),
dark-blueberry: (base: #063852, highlight: darken(#063852,10%)),
tangerine: (base: #F0810F, highlight: darken(#F0810F,10%)),
daffodil: (base: #E6DF44, highlight: darken(#E6DF44,10%)),
lightest-sky: (base: #75B1A9, highlight: darken(#75B1A9,10%)),
sunglow: (base: #D9B44A, highlight: darken(#D9B44A,10%)),
mountains: (base: #4F6457, highlight: darken(#4F6457,10%)),
/*mist: (base: #ACD0C0, highlight: darken(#ACD0C0,10%)),*/
/*orange: (base: #EB8A44, highlight: darken(#EB8A44,10%)),*/
bright-yellow: (base: #F9DC24, highlight: darken(#F9DC24,10%)),
olive-green: (base: #4B7447, highlight: darken(#4B7447,10%)),
lime: (base: #8EBA43, highlight: darken(#8EBA43,10%)),
deep-purple: (base: #363237, highlight: darken(#363237,10%)),
indigo: (base: #2D4262, highlight: darken(#2D4262,10%)),
taupe: (base: #73605B, highlight: darken(#73605B,10%)),
dark-blush: (base: #D09683, highlight: darken(#D09683,10%)),
hot-pink: (base: #F52549, highlight: darken(#F52549,10%)),
bubble-green: (base: #FA6775, highlight: darken(#FA6775,10%)),
pollen: (base: #FFD64D, highlight: darken(#FFD64D,10%)),
chartreuse: (base: #9BC01C, highlight: darken(#9BC01C,10%)),
bark: (base: #2E2300, highlight: darken(#2E2300,10%)),
seaweed-green: (base: #6E5702, highlight: darken(#6E5702,10%)),
bronze: (base: #C05805, highlight: darken(#C05805,10%)),
goldenrod: (base: #DB9501, highlight: darken(#DB9501,10%)),
eggplant: (base: #50312F, highlight: darken(#50312F,10%)),
strawberry: (base: #CB0000, highlight: darken(#CB0000,10%)),
lemon-lime: (base: #E4EA8C, highlight: darken(#E4EA8C,10%)),
basil-green: (base: #3F6C45, highlight: darken(#3F6C45,10%)),
blue: (base: #34888C, highlight: darken(#34888C,10%)),
leafy-green: (base: #7CAA2D, highlight: darken(#7CAA2D,10%)),
bright-sunflower: (base: #F5E356, highlight: darken(#F5E356,10%)),
seeds: (base: #CB6318, highlight: darken(#CB6318,10%)),
deep-green: (base: #0F1B07, highlight: darken(#0F1B07,10%)),
white: (base: #FFFFFF, highlight: darken(#FFFFFF,10%)),
plants: (base: #5C821A, highlight: darken(#5C821A,10%)),
new-grow: (base: #C6D166, highlight: darken(#C6D166,10%)),
navy: (base: #00293C, highlight: darken(#00293C,10%)),
peacock-blue: (base: #1E656D, highlight: darken(#1E656D,10%)),
ivory: (base: #F1F3CE, highlight: darken(#F1F3CE,10%)),
candy-apple: (base: #F62A00, highlight: darken(#F62A00,10%)),
slate: (base: #626D71, highlight: darken(#626D71,10%)),
ceramic: (base: #CDCDC0, highlight: darken(#CDCDC0,10%)),
latte: (base: #DDBC95, highlight: darken(#DDBC95,10%)),
coffee: (base: #B38867, highlight: darken(#B38867,10%)),
avocado: (base: #258039, highlight: darken(#258039,10%)),
yellow-pepper: (base: #F5BE41, highlight: darken(#F5BE41,10%)),
aqua-blue: (base: #31A9B8, highlight: darken(#31A9B8,10%)),
tomato: (base: #CF3721, highlight: darken(#CF3721,10%)),
carrot: (base: #FF693F, highlight: darken(#FF693F,10%)),
light-tangerine: (base: #F69454, highlight: darken(#F69454,10%)),
off-white: (base: #FCFDFE, highlight: darken(#FCFDFE,10%)),
pear-green: (base: #739F3D, highlight: darken(#739F3D,10%)),
light-mint: (base: #B9D9C3, highlight: darken(#B9D9C3,10%)),
charred: (base: #752A07, highlight: darken(#752A07,10%)),
toasted: (base: #FBCB7B, highlight: darken(#FBCB7B,10%)),
bright-tomato: (base: #EB5E30, highlight: darken(#EB5E30,10%)),
dark-midnight-blue: (base: #1E1F26, highlight: darken(#1E1F26,10%)),
indigo-ink: (base: #283655, highlight: darken(#283655,10%)),
blueberry: (base: #4D648D, highlight: darken(#4D648D,10%)),
periwinkle: (base: #D0E1F9, highlight: darken(#D0E1F9,10%)),
cherry-red: (base: #F70025, highlight: darken(#F70025,10%)),
ice: (base: #F7EFE2, highlight: darken(#F7EFE2,10%)),
marmalade: (base: #F25C00, highlight: darken(#F25C00,10%)),
orange-juice: (base: #F9A603, highlight: darken(#F9A603,10%)),
sage: (base: #A1BE95, highlight: darken(#A1BE95,10%)),
honeydew: (base: #E2DFA2, highlight: darken(#E2DFA2,10%)),
bluebell: (base: #92AAC7, highlight: darken(#92AAC7,10%)),
raspberry: (base: #ED5752, highlight: darken(#ED5752,10%)),
electric-blue: (base: #4897D8, highlight: darken(#4897D8,10%)),
banana: (base: #FFDB5C, highlight: darken(#FFDB5C,10%)),
watermelon-inside: (base: #FA6E59, highlight: darken(#FA6E59,10%)),
canteloupe: (base: #F8A055, highlight: darken(#F8A055,10%)),
cayenne: (base: #AF4425, highlight: darken(#AF4425,10%)),
cinnamon: (base: #662E1C, highlight: darken(#662E1C,10%)),
cream: (base: #EBDCB2, highlight: darken(#EBDCB2,10%)),
caramel: (base: #C9A66B, highlight: darken(#C9A66B,10%)),
baby-blue: (base: #C1E1DC, highlight: darken(#C1E1DC,10%)),
peach: (base: #FFCCAC, highlight: darken(#FFCCAC,10%)),
butter: (base: #FFEB94, highlight: darken(#FFEB94,10%)),
butter-scotch: (base: #FDD475, highlight: darken(#FDD475,10%)),
fig: (base: #4C3F54, highlight: darken(#4C3F54,10%)),
apple-red: (base: #D13525, highlight: darken(#D13525,10%)),
swiss-cheese: (base: #F2C057, highlight: darken(#F2C057,10%)),
basil: (base: #486824, highlight: darken(#486824,10%)),
citrus: (base: #FAAF08, highlight: darken(#FAAF08,10%)),
grapefruit: (base: #FA812F, highlight: darken(#FA812F,10%)),
ruby-red: (base: #FA4032, highlight: darken(#FA4032,10%)),
dark-off-white: (base: #FEF3E2, highlight: darken(#FEF3E2,10%)),
golden-delicious: (base: #F4EC6A, highlight: darken(#F4EC6A,10%)),
granny-smith: (base: #BBCF4A, highlight: darken(#BBCF4A,10%)),
ripe-apple: (base: #E73F0B, highlight: darken(#E73F0B,10%)),
red-delicious: (base: #A11F0C, highlight: darken(#A11F0C,10%)),
mushroom: (base: #FEF2E4, highlight: darken(#FEF2E4,10%)),
onion: (base: #FD974F, highlight: darken(#FD974F,10%)),
red-pepper: (base: #C60000, highlight: darken(#C60000,10%)),
driftwood: (base: #805A3B, highlight: darken(#805A3B,10%)),
caviar: (base: #F77604, highlight: darken(#F77604,10%)),
lettuce: (base: #B8D20B, highlight: darken(#B8D20B,10%)),
salmon: (base: #F56C57, highlight: darken(#F56C57,10%)),
black-seaweed: (base: #231B12, highlight: darken(#231B12,10%)),
purple-onion: (base: #7F152E, highlight: darken(#7F152E,10%)),
ripe-tomato: (base: #D61800, highlight: darken(#D61800,10%)),
lemon: (base: #EDAE01, highlight: darken(#EDAE01,10%)),
spices: (base: #E94F08, highlight: darken(#E94F08,10%)),
limen: (base: #EAE2D6, highlight: darken(#EAE2D6,10%)),
oyster: (base: #D5C3AA, highlight: darken(#D5C3AA,10%)),
pewter-1: (base: #867666, highlight: darken(#867666,10%)),
lemon-tea: (base: #E1B80D, highlight: darken(#E1B80D,10%)),
emerald: (base: #265C00, highlight: darken(#265C00,10%)),
green-bean: (base: #68A225, highlight: darken(#68A225,10%)),
light-green: (base: #B3DE81, highlight: darken(#B3DE81,10%)),
cotton-greeny: (base: #FDFFFF, highlight: darken(#FDFFFF,10%)),
berry: (base: #A10115, highlight: darken(#A10115,10%)),
cherry: (base: #D72C16, highlight: darken(#D72C16,10%)),
chiffon: (base: #F0EFEA, highlight: darken(#F0EFEA,10%)),
smoke: (base: #C0B2B5, highlight: darken(#C0B2B5,10%)),
light-lime: (base: #C7DB00, highlight: darken(#C7DB00,10%)),
cilantro: (base: #7AA802, highlight: darken(#7AA802,10%)),
lox: (base: #f78B2D, highlight: darken(#f78B2D,10%)),
toast: (base: #E4B600, highlight: darken(#E4B600,10%)),
cocoa: (base: #301B28, highlight: darken(#301B28,10%)),
chocolate: (base: #523634, highlight: darken(#523634,10%)),
toffee: (base: #B6452C, highlight: darken(#B6452C,10%)),
frosting: (base: #DDC5A2, highlight: darken(#DDC5A2,10%)),
yellow-pear: (base: #EBDF00, highlight: darken(#EBDF00,10%)),
moss-green: (base: #7E7B15, highlight: darken(#7E7B15,10%)),
umber: (base: #563E20, highlight: darken(#563E20,10%)),
darkest-gold: (base: #B38540, highlight: darken(#B38540,10%)),
red-onion: (base: #662225, highlight: darken(#662225,10%)),
spicy: (base: #B51D0A, highlight: darken(#B51D0A,10%)),
parsnip: (base: #EAD39C, highlight: darken(#EAD39C,10%)),
pepercorn: (base: #7D5E3C, highlight: darken(#7D5E3C,10%)),
stoneground: (base: #4B4345, highlight: darken(#4B4345,10%)),
lapis: (base: #556DAC, highlight: darken(#556DAC,10%)),
light-salmon: (base: #F79B77, highlight: darken(#F79B77,10%)),
peppercorn: (base: #755248, highlight: darken(#755248,10%)),
strawberry-inside: (base: #D8412F, highlight: darken(#D8412F,10%)),
papaya: (base: #FE7A47, highlight: darken(#FE7A47,10%)),
milk: (base: #FCFDFE, highlight: darken(#FCFDFE,10%)),
granola: (base: #F5CA99, highlight: darken(#F5CA99,10%)),
grecian-blue: (base: #2988BC, highlight: darken(#2988BC,10%)),
dark-blue-sea: (base: #2F496E, highlight: darken(#2F496E,10%)),
plaster: (base: #F4EADE, highlight: darken(#F4EADE,10%)),
coral: (base: #ED8C72, highlight: darken(#ED8C72,10%)),
night: (base: #000B29, highlight: darken(#000B29,10%)),
phone-booth-red: (base: #D70026, highlight: darken(#D70026,10%)),
pearl: (base: #F8F5F2, highlight: darken(#F8F5F2,10%)),
flash: (base: #EDB83D, highlight: darken(#EDB83D,10%)),
brown-dark: (base: #1E0000, highlight: darken(#1E0000,10%)),
wine: (base: #500805, highlight: darken(#500805,10%)),
clay: (base: #9D331F, highlight: darken(#9D331F,10%)),
dusty-rose: (base: #BC6D4F, highlight: darken(#BC6D4F,10%)),
sun-shine: (base: #F9BA32, highlight: darken(#F9BA32,10%)),
steel-blue: (base: #426E86, highlight: darken(#426E86,10%)),
bone: (base: #F8F1E5, highlight: darken(#F8F1E5,10%)),
coal: (base: #2F3131, highlight: darken(#2F3131,10%)),
forest: (base: #04202C, highlight: darken(#04202C,10%)),
evergreen: (base: #304040, highlight: darken(#304040,10%)),
pine: (base: #5B7065, highlight: darken(#5B7065,10%)),
forest-fog: (base: #C9D1C8, highlight: darken(#C9D1C8,10%)),
terracotta: (base: #D24136, highlight: darken(#D24136,10%)),
honey: (base: #EB8A3E, highlight: darken(#EB8A3E,10%)),
biscotti: (base: #EBB582, highlight: darken(#EBB582,10%)),
brown-stone: (base: #785A46, highlight: darken(#785A46,10%)),
cerulean-blue: (base: #217CA3, highlight: darken(#217CA3,10%)),
mustard: (base: #E29930, highlight: darken(#E29930,10%)),
asphalt: (base: #32384D, highlight: darken(#32384D,10%)),
shadow: (base: #211F30, highlight: darken(#211F30,10%)),
dark-peacock-blue: (base: #004D47, highlight: darken(#004D47,10%)),
deep-aqua: (base: #128277, highlight: darken(#128277,10%)),
lichen: (base: #52958B, highlight: darken(#52958B,10%)),
mist: (base: #B9C4C9, highlight: darken(#B9C4C9,10%)),
leaves: (base: #506D2F, highlight: darken(#506D2F,10%)),
black-bark: (base: #2A2922, highlight: darken(#2A2922,10%)),
marble: (base: #F3EBDD, highlight: darken(#F3EBDD,10%)),
dark-brown-stone: (base: #7D5642, highlight: darken(#7D5642,10%)),
/*orange: (base: #F47D4A, highlight: darken(#F47D4A,10%)),*/
fuschia: (base: #E1315B, highlight: darken(#E1315B,10%)),
lemon-drop: (base: #FFBC5C, highlight: darken(#FFBC5C,10%)),
blue-raspberry: (base: #008DCB, highlight: darken(#008DCB,10%)),
egg-blue: (base: #A4CABC, highlight: darken(#A4CABC,10%)),
nectar: (base: #EAB364, highlight: darken(#EAB364,10%)),
tuscan-red: (base: #B2473E, highlight: darken(#B2473E,10%)),
olive: (base: #ACBD78, highlight: darken(#ACBD78,10%)),
midnight-blue: (base: #16253D, highlight: darken(#16253D,10%)),
dusk: (base: #002C54, highlight: darken(#002C54,10%)),
golden: (base: #EFB509, highlight: darken(#EFB509,10%)),
bright-bronze: (base: #CD7213, highlight: darken(#CD7213,10%)),
blue-gray: (base: #8593AE, highlight: darken(#8593AE,10%)),
steel: (base: #5A4E4D, highlight: darken(#5A4E4D,10%)),
pewter-2: (base: #7E675E, highlight: darken(#7E675E,10%)),
blush: (base: #DDA288, highlight: darken(#DDA288,10%)),
dark-teal: (base: #2B616D, highlight: darken(#2B616D,10%)),
arctic: (base: #B2DBD5, highlight: darken(#B2DBD5,10%)),
white-cloud: (base: #FFFFFF, highlight: darken(#FFFFFF,10%)),
brick: (base: #FA8D62, highlight: darken(#FA8D62,10%)),
cyan: (base: #00CFFA, highlight: darken(#00CFFA,10%)),
magenta: (base: #FF0038, highlight: darken(#FF0038,10%)),
yellow: (base: #FFCE38, highlight: darken(#FFCE38,10%)),
black: (base: #020509, highlight: darken(#020509,10%)),
powder-blue: (base: #A5C3CF, highlight: darken(#A5C3CF,10%)),
clouds: (base: #F3D3B8, highlight: darken(#F3D3B8,10%)),
sand: (base: #E59D5C, highlight: darken(#E59D5C,10%)),
palm: (base: #A99F3C, highlight: darken(#A99F3C,10%)),
saltwater: (base: #257985, highlight: darken(#257985,10%)),
blue-lagoon: (base: #5EA8A7, highlight: darken(#5EA8A7,10%)),
whitewash: (base: #FFFFFF, highlight: darken(#FFFFFF,10%)),
bright-raspberry: (base: #FF4447, highlight: darken(#FF4447,10%)),
honey-suckle: (base: #FCC875, highlight: darken(#FCC875,10%)),
brown-warm-gray: (base: #BAA896, highlight: darken(#BAA896,10%)),
putty: (base: #E6CCB5, highlight: darken(#E6CCB5,10%)),
faded-rose: (base: #E38B75, highlight: darken(#E38B75,10%)),
stormy-sea: (base: #335252, highlight: darken(#335252,10%)),
fog: (base: #D4DDE1, highlight: darken(#D4DDE1,10%)),
rust: (base: #AA4B41, highlight: darken(#AA4B41,10%)),
dark-charcoal: (base: #2D3033, highlight: darken(#2D3033,10%)),
sunrise: (base: #FFCCBB, highlight: darken(#FFCCBB,10%)),
blue-topaz: (base: #6EB5C0, highlight: darken(#6EB5C0,10%)),
cerulean: (base: #006C84, highlight: darken(#006C84,10%)),
icicle: (base: #E2E8E4, highlight: darken(#E2E8E4,10%)),
currant: (base: #8C0004, highlight: darken(#8C0004,10%)),
scarlet: (base: #C8000A, highlight: darken(#C8000A,10%)),
margigold: (base: #E8A735, highlight: darken(#E8A735,10%)),
cobblestone: (base: #E2C499, highlight: darken(#E2C499,10%)),
blue-green: (base: #2C4A52, highlight: darken(#2C4A52,10%)),
waterway: (base: #537072, highlight: darken(#537072,10%)),
haze: (base: #8E9B97, highlight: darken(#8E9B97,10%)),
smog: (base: #F4EBDB, highlight: darken(#F4EBDB,10%)),
fire-engine-red: (base: #C5001A, highlight: darken(#C5001A,10%)),
light-gray: (base: #E4E3DB, highlight: darken(#E4E3DB,10%)),
denim: (base: #113743, highlight: darken(#113743,10%)),
concrete: (base: #C5BEBA, highlight: darken(#C5BEBA,10%)),
ginger: (base: #D35C37, highlight: darken(#D35C37,10%)),
hazelnut: (base: #BF9A77, highlight: darken(#BF9A77,10%)),
oat: (base: #D6C6B9, highlight: darken(#D6C6B9,10%)),
clean-sky: (base: #97B8C2, highlight: darken(#97B8C2,10%)),
split-pea: (base: #919636, highlight: darken(#919636,10%)),
camouflage: (base: #524A3A, highlight: darken(#524A3A,10%)),
light-dark: (base: #FFFAE1, highlight: darken(#FFFAE1,10%)),
dark-grass: (base: #5A5F37, highlight: darken(#5A5F37,10%)),
turquoise-2: (base: #52908B, highlight: darken(#52908B,10%)),
brown-gray: (base: #E5E2CA, highlight: darken(#E5E2CA,10%)),
brownish-purple: (base: #DDBC95, highlight: darken(#DDBC95,10%)),
orange-red: (base: #E7472E, highlight: darken(#E7472E,10%)),
brown-black: (base: #2F2E33, highlight: darken(#2F2E33,10%)),
cool-gray: (base: #D5D6D2, highlight: darken(#D5D6D2,10%)),
/*white: (base: #FFFFFF, highlight: darken(#FFFFFF,10%)),*/
cobalt: (base: #3A5199, highlight: darken(#3A5199,10%)),
wood-veneer: (base: #756867, highlight: darken(#756867,10%)),
sand-dollar: (base: #D5D6D2, highlight: darken(#D5D6D2,10%)),
charcoal: (base: #353C3F, highlight: darken(#353C3F,10%)),
bright-orange: (base: #FF8D3F, highlight: darken(#FF8D3F,10%)),
turquoise-3: (base: #31A2AC, highlight: darken(#31A2AC,10%)),
lipstick: (base: #AF1C1C, highlight: darken(#AF1C1C,10%)),
grayish-white: (base: #F0EFF0, highlight: darken(#F0EFF0,10%)),
old-wood: (base: #2F2F28, highlight: darken(#2F2F28,10%)),
metal: (base: #6C5F5B, highlight: darken(#6C5F5B,10%)),
kraft-paper: (base: #CDAB81, highlight: darken(#CDAB81,10%)),
newsprint: (base: #DAC3B3, highlight: darken(#DAC3B3,10%)),
dark-pewter: (base: #4F4A45, highlight: darken(#4F4A45,10%)),
faded-navy: (base: #444C5C, highlight: darken(#444C5C,10%)),
punch: (base: #CE5A57, highlight: darken(#CE5A57,10%)),
ocean-breeze: (base: #78A5A3, highlight: darken(#78A5A3,10%)),
warm: (base: #E1B16A, highlight: darken(#E1B16A,10%)),
ink: (base: #20232A, highlight: darken(#20232A,10%)),
aluminum: (base: #ACBEBE, highlight: darken(#ACBEBE,10%)),
paper-1: (base: #F4F4EF, highlight: darken(#F4F4EF,10%)),
dark-ruby-red: (base: #A01D26, highlight: darken(#A01D26,10%)),
pumpkin: (base: #D55448, highlight: darken(#D55448,10%)),
dark-canteloupe: (base: #FFA577, highlight: darken(#FFA577,10%)),
cotton: (base: #F9F9FF, highlight: darken(#F9F9FF,10%)),
hot-chocolate: (base: #896E69, highlight: darken(#896E69,10%)),
royal-blue: (base: #344D90, highlight: darken(#344D90,10%)),
pool-blue: (base: #5CC5EF, highlight: darken(#5CC5EF,10%)),
light-orange-juice: (base: #FFB745, highlight: darken(#FFB745,10%)),
blood-orange: (base: #E7552C, highlight: darken(#E7552C,10%)),
black-steel: (base: #080706, highlight: darken(#080706,10%)),
paper-2: (base: #EFEFEF, highlight: darken(#EFEFEF,10%)),
gold-leaf: (base: #D1B280, highlight: darken(#D1B280,10%)),
silver: (base: #594D46, highlight: darken(#594D46,10%)),
light-blue-green: (base: #5F968E, highlight: darken(#5F968E,10%)),
minty: (base: #BFDCCF, highlight: darken(#BFDCCF,10%)),
faded-red: (base: #E05858, highlight: darken(#E05858,10%)),
oat-meal: (base: #D5C9B1, highlight: darken(#D5C9B1,10%)),
brick-red: (base: #962715, highlight: darken(#962715,10%)),
gloss-white: (base: #FFFFFF, highlight: darken(#FFFFFF,10%)),
matte-black: (base: #1E1E20, highlight: darken(#1E1E20,10%)),
medium-gray: (base: #BBC3C6, highlight: darken(#BBC3C6,10%)),
stone: (base: #688B8A, highlight: darken(#688B8A,10%)),
dark-sage: (base: #A0B084, highlight: darken(#A0B084,10%)),
buttermilk: (base: #FAEFD4, highlight: darken(#FAEFD4,10%)),
leather: (base: #A57C65, highlight: darken(#A57C65,10%)),
dark-slate: (base: #262F34, highlight: darken(#262F34,10%)),
neon-red: (base: #F34A4A, highlight: darken(#F34A4A,10%)),
crepe: (base: #F1D3BC, highlight: darken(#F1D3BC,10%)),
brownish-gray: (base: #615049, highlight: darken(#615049,10%)),
burgundy: (base: #882426, highlight: darken(#882426,10%)),
sidewalk: (base: #CDBEA7, highlight: darken(#CDBEA7,10%)),
cinder: (base: #323030, highlight: darken(#323030,10%)),
golden-afternoon: (base: #C29545, highlight: darken(#C29545,10%)),
mahogany: (base: #42313A, highlight: darken(#42313A,10%)),
chestunt: (base: #6C2D2C, highlight: darken(#6C2D2C,10%)),
red-leather: (base: #9F4636, highlight: darken(#9F4636,10%)),
parchment: (base: #F1DCC9, highlight: darken(#F1DCC9,10%)),
buttercup: (base: #FBCD4B, highlight: darken(#FBCD4B,10%)),
silver-plate: (base: #A3A599, highlight: darken(#A3A599,10%)),
dark: (base: #282623, highlight: darken(#282623,10%)),
algae: (base: #88A550, highlight: darken(#88A550,10%)),
soft-pink: (base: #FFBEBD, highlight: darken(#FFBEBD,10%)),
warm-white: (base: #FCFCFA, highlight: darken(#FCFCFA,10%)),
bright-blue: (base: #337BAE, highlight: darken(#337BAE,10%)),
aegean-blue: (base: #1A405F, highlight: darken(#1A405F,10%)),
onyx: (base: #0F1F38, highlight: darken(#0F1F38,10%)),
light-taupe: (base: #8E7970, highlight: darken(#8E7970,10%)),
firework: (base: #F55449, highlight: darken(#F55449,10%)),
oceanic: (base: #1B4B5A, highlight: darken(#1B4B5A,10%)),
wood: (base: #81715E, highlight: darken(#81715E,10%)),
pencil-yellow: (base: #FAAE3D, highlight: darken(#FAAE3D,10%)),
orange: (base: #E38533, highlight: darken(#E38533,10%)),
pinkeraser: (base: #E4535E, highlight: darken(#E4535E,10%)),
ultramarine: (base: #061283, highlight: darken(#061283,10%)),
watermelon: (base: #FD3C3C, highlight: darken(#FD3C3C,10%)),
sunshine: (base: #FFB74C, highlight: darken(#FFB74C,10%)),
turquoise-4: (base: #138D90, highlight: darken(#138D90,10%)),
soft-gray: (base: #DDDEDE, highlight: darken(#DDDEDE,10%)),
blackish: (base: #232122, highlight: darken(#232122,10%)),
house-plant: (base: #A5C05B, highlight: darken(#A5C05B,10%)),
dark-blue-gray: (base: #7BA4A8, highlight: darken(#7BA4A8,10%)),
mint: (base: #B3DBC0, highlight: darken(#B3DBC0,10%)),
red: (base: #FE0000, highlight: darken(#FE0000,10%)),
porcelain: (base: #FDF6F6, highlight: darken(#FDF6F6,10%)),
fresh-blue: (base: #67BACA, highlight: darken(#67BACA,10%)),
dark-warm-gray: (base: #A49592, highlight: darken(#A49592,10%)),
dark-bluish-gray: (base: #727077, highlight: darken(#727077,10%)),
beige: (base: #EED8C9, highlight: darken(#EED8C9,10%)),
mauve: (base: #E99787, highlight: darken(#E99787,10%)),
dark-aqua: (base: #488A99, highlight: darken(#488A99,10%)),
gold: (base: #DBAE58, highlight: darken(#DBAE58,10%)),
light-charcoal: (base: #4B585C, highlight: darken(#4B585C,10%)),
gray: (base: #B4B4B4, highlight: darken(#B4B4B4,10%))
);
