@import "../common/variables.scss";
.main-breadcrumb-bar {
    position: fixed;
    right: 0;
    left: 0;
    height: $javatmp-breadcrumb-bar-height;
    z-index: $javatmp-breadcrumb-bar-z-index;
    /*border-bottom: $border-width solid $border-color;*/
    background-color: $javatmp-breadcrumb-bar-bg;
    transition: $javatmp-transition;

    .breadcrumb {
        background-color: $javatmp-breadcrumb-bar-bg;
        padding: 0 0 0 1rem;
        /*padding: .25rem 1rem;*/
        width: calc(100% - 50px);
        flex-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
        li {
            display: inline;
        }
        li:last-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        a {
            color: $javatmp-breadcrumb-link-color;
            vertical-align: middle;
            line-height: $javatmp-breadcrumb-bar-height;
        }
        a.active {
            color: $javatmp-breadcrumb-link-active-color;
        }
        .breadcrumb-item::before {
            vertical-align: middle;
        }
        .breadcrumb-item.active {
            color: $javatmp-breadcrumb-link-active-color;
        }
    }
    .breadcrumb-submenu {
        width: 49px;
    }
    .spin-sync-running {
        color: $danger;
    }
    .spin-sync-stop {
        color: $javatmp-breadcrumb-link-color;
    }
}

// todo: set breadcrumb float property in correct location
.breadcrumb-item {
    + .breadcrumb-item {
        &::before {
            float: inherit;
        }
    }
}

@media (min-width: 768px) {
    body.sidebar-active .main-content > .main-breadcrumb-bar {
        left: $javatmp-sidebar-width;
    }
}

body.mouse-auto-show.sidebar-active .main-content > .main-breadcrumb-bar {
    left: 0px;
}

// v0.0.3: Added to support for theme colors
.main-breadcrumb-bar {
    @each $color, $value in $theme-colors {
        &.bg-#{$color} {
            $temp-color: color-yiq($value);
            /*border-bottom-color: $value;*/
            background-color: $value;
            color: $temp-color;
            .breadcrumb {
                background-color: $value;
                color: $temp-color;
                a {
                    color: $temp-color;
                }
                a.active {
                    color: darken($temp-color, 10%);
                }
                .breadcrumb-item.active {
                    color: darken($temp-color, 10%);
                }
                .breadcrumb-item + .breadcrumb-item::before {
                    color: $temp-color;
                }
            }
            .breadcrumb-submenu {
                background-color: $value;
                color: $temp-color;
                .min-tools-button {
                    background-color: $value;
                    color: $temp-color;
                }
            }
            .spin-sync-running {
                color: darken($temp-color, 15%);
            }
            .spin-sync-stop {
                color: $temp-color;
            }

        }
    }
}

