/*!
Bootswatch simplex theme
https://bootswatch.com/simplex/
*/
@import "../../../../../node_modules/bootswatch/dist/simplex/_variables.scss";
@import "../javatmp-default.scss";
@import "../../../../../node_modules/bootswatch/dist/simplex/_bootswatch.scss";