/*!
Bootswatch cosmo theme
https://bootswatch.com/cosmo/
*/
@import "../../../../../node_modules/bootswatch/dist/cosmo/_variables.scss";
@import "../javatmp-default.scss";
@import "../../../../../node_modules/bootswatch/dist/cosmo/_bootswatch.scss";