/*!
Bootswatch cyborg theme
https://bootswatch.com/cyborg/
*/
@import "../../../../../node_modules/bootswatch/dist/cyborg/_variables.scss";
@import "../javatmp-default.scss";
@import "../../../../../node_modules/bootswatch/dist/cyborg/_bootswatch.scss";