/*!
Bootswatch superhero theme
https://bootswatch.com/superhero/
*/
@import "../../../../../node_modules/bootswatch/dist/superhero/_variables.scss";
@import "../javatmp-default.scss";
@import "../../../../../node_modules/bootswatch/dist/superhero/_bootswatch.scss";