
@mixin createTextColorClass($selector, $colorValue) {
    .text-#{$selector} {
        color: $colorValue;
    }
    .bg-#{$selector} {
        background-color: $colorValue;
    }
}

@each $colorKey, $colorValue in $colorsMap {
    @include createTextColorClass($colorKey, map-get($colorValue, base));
}