// JavaTMP Custom Steps Customization Variables
$javatmp-steps-font-weight: $font-weight-light!default;
$javatmp-steps-padding-y: 15px!default;
$javatmp-steps-step-number-font-size: $font-size-base * 2!default;
$javatmp-steps-step-title-font-size: $font-size-base * 2!default;

$javatmp-steps-default-bg: $secondary!default;
$javatmp-steps-default-color: $white!default;
$javatmp-steps-default-number-color: $secondary!default;
$javatmp-steps-default-number-bg: $white!default;

$javatmp-steps-active-bg: $primary!default;
$javatmp-steps-active-color: $white!default;
$javatmp-steps-active-number-color: $primary!default;
$javatmp-steps-active-number-bg: $white!default;

$javatmp-steps-done-bg: $success!default;
$javatmp-steps-done-color: $white!default;
$javatmp-steps-done-number-color: $success!default;
$javatmp-steps-done-number-bg: $white!default;

$javatmp-steps-error-bg: $danger!default;
$javatmp-steps-error-color: $white!default;
$javatmp-steps-error-number-color: $danger!default;
$javatmp-steps-error-number-bg: $white!default;

$javatmp-steps-line-default-arrow-bg: $secondary!default;
$javatmp-steps-line-default-bg: $white!default;
$javatmp-steps-line-default-color: $secondary!default;
$javatmp-steps-line-default-number-color: $secondary!default;
$javatmp-steps-line-default-number-bg: $white!default;

$javatmp-steps-line-active-arrow-bg: $primary!default;
$javatmp-steps-line-active-bg: $white!default;
$javatmp-steps-line-active-color: $primary!default;
$javatmp-steps-line-active-number-color: $primary!default;
$javatmp-steps-line-active-number-bg: $white!default;

$javatmp-steps-line-done-arrow-bg: $success!default;
$javatmp-steps-line-done-bg: $white!default;
$javatmp-steps-line-done-color: $success!default;
$javatmp-steps-line-done-number-color: $success!default;
$javatmp-steps-line-done-number-bg: $white!default;

$javatmp-steps-line-error-arrow-bg: $danger!default;
$javatmp-steps-line-error-bg: $white!default;
$javatmp-steps-line-error-color: $danger!default;
$javatmp-steps-line-error-number-color: $danger!default;
$javatmp-steps-line-error-number-bg: $white!default;
//--------------------------------------------------

.step-default {
    margin: 0;
    .step {
        padding: $javatmp-steps-padding-y 0;
        text-align: center;
        background-color: $javatmp-steps-default-bg;
        color: $javatmp-steps-default-color;
    }
    .step-number {
        font-size: $javatmp-steps-step-number-font-size;
        border-radius: 50%;
        display: inline-block;
        /*margin: auto auto 26px;*/
        padding: 3px 18px;
        background-color: $javatmp-steps-default-number-bg;
        color: $javatmp-steps-default-number-color;
    }
    .step-title {
        font-size: $javatmp-steps-step-title-font-size;
        font-weight: $javatmp-steps-font-weight;
    }
    .active {
        background-color: $javatmp-steps-active-bg;
        color: $javatmp-steps-active-color;
        .step-number {
            background-color: $javatmp-steps-active-number-bg;
            color: $javatmp-steps-active-number-color;
        }
    }
    .done {
        background-color: $javatmp-steps-done-bg;
        color: $javatmp-steps-done-color;
        .step-number {
            background-color: $javatmp-steps-done-number-bg;
            color: $javatmp-steps-done-number-color;
        }
    }
    .error {
        background-color: $javatmp-steps-error-bg;
        color: $javatmp-steps-error-color;
        .step-number {
            background-color: $javatmp-steps-error-number-bg;
            color: $javatmp-steps-error-number-color;
        }
    }
}

.step-thin {
    margin: 0;
    .step {
        padding-top: $javatmp-steps-padding-y;
        padding-bottom: $javatmp-steps-padding-y;
        background-color: $javatmp-steps-default-bg;
        color: $javatmp-steps-default-color;
    }
    .step-number {
        font-size: 26px;
        border-radius: 50%!important;
        float: left;
        margin: auto;
        padding: 3px 14px;
        background-color: $javatmp-steps-default-number-bg;
        color: $javatmp-steps-default-number-color;
    }
    .step-title {
        font-size: 24px;
        font-weight: 100;
        padding-left: 60px;
        margin-top: -6px;
    }
    .step-content {
        padding-left: 60px;
    }
    .active {
        background-color: $javatmp-steps-active-bg;
        color: $javatmp-steps-active-color;
        .step-number {
            background-color: $javatmp-steps-active-number-bg;
            color: $javatmp-steps-active-number-color;
        }
    }
    .done {
        background-color: $javatmp-steps-done-bg;
        color: $javatmp-steps-done-color;
        .step-number {
            background-color: $javatmp-steps-done-number-bg;
            color: $javatmp-steps-done-number-color;
        }
    }
    .error {
        background-color: $javatmp-steps-error-bg;
        color: $javatmp-steps-error-color;
        .step-number {
            background-color: $javatmp-steps-error-number-bg;
            color: $javatmp-steps-error-number-color;
        }
    }
}

.step-line {
    margin: 0;
    .step {
        padding: 30px 0;
        text-align: center;
        background-color: $javatmp-steps-line-default-bg;
        color: $javatmp-steps-line-default-color;
        &:after, &:before {
            content: '';
            height: 4px;
            width: 50%;
            position: absolute;
            background-color: $javatmp-steps-line-default-arrow-bg;
            top: 58px;
            z-index: 4;
        }
        &:before {
            right: 50%;
        }
        &:after {
            left: 50%;
        }
        &:first-child:before {
            content: none;
        }
        &:last-child:after {
            content: none;
        }
        &.active:before, &.active:after {
            background-color: $javatmp-steps-line-active-arrow-bg;
        }
        &.done:before, &.done:after {
            background-color: $javatmp-steps-line-done-arrow-bg;
        }
        &.error:before, &.error:after {
            background-color: $javatmp-steps-line-error-arrow-bg;
        }

    }
    .step-number {
        font-size: 26px;
        border-radius: 50%!important;
        display: inline-block;
        margin: auto auto 5px;
        padding: 7px;
        border: 4px solid $javatmp-steps-line-default-color;
        position: relative;
        z-index: 5;
        height: 58px;
        width: 60px;
        text-align: center;
        background-color: #FFF;
    }
    .step-title {
        font-size: 20px;
        font-weight: 400;
        position: relative;
    }
    .active {
        .step-number {
            color: $primary;
            border-color: $javatmp-steps-active-bg;
        }
        .step-content, .step-title {
            color: $primary;
        }
    }
    .done {
        .step-number {
            color: $success;
            border-color: $success;
        }
        .step-content, .step-title {
            color: $success;
        }
    }
    .error {
        .step-number {
            color: $danger;
            border-color: $danger;
        }
        .step-content, .step-title {
            color: $danger;
        }
    }
    .active {
        background-color: $javatmp-steps-line-active-bg;
        color: $javatmp-steps-line-active-color;
        .step-number {
            background-color: $javatmp-steps-line-active-number-bg;
            color: $javatmp-steps-line-active-number-color;
        }
    }
    .done {
        background-color: $javatmp-steps-line-done-bg;
        color: $javatmp-steps-line-done-color;
        .step-number {
            background-color: $javatmp-steps-line-done-number-bg;
            color: $javatmp-steps-line-done-number-color;
        }
    }
    .error {
        background-color: $javatmp-steps-line-error-bg;
        color: $javatmp-steps-line-error-color;
        .step-number {
            background-color: $javatmp-steps-line-error-number-bg;
            color: $javatmp-steps-line-error-number-color;
        }
    }
}

[dir="rtl"] {
    .step-thin {
        .step-number {
            float: right;
        }
        .step-title {
            padding-left: 0px;
            padding-right: 60px;

        }
        .step-content {
            padding-left: 0px;
            padding-right: 60px;
        }
    }

    .step-line {
        .step {
            &:before {
                left: 50%;
                right: 0;
            }
            &:after {
                right: 50%;
                left: 0;
            }
        }
    }
}