/*!
Bootswatch slate theme
https://bootswatch.com/slate/
*/
@import "../../../../../node_modules/bootswatch/dist/slate/_variables.scss";
@import "javatmp-default.scss";
@import "../../../../../node_modules/bootswatch/dist/slate/_bootswatch.scss";