/*!
Bootswatch sandstone theme
https://bootswatch.com/sandstone/
*/
@import "../../../../../node_modules/bootswatch/dist/sandstone/_variables.scss";
@import "javatmp-default.scss";
@import "../../../../../node_modules/bootswatch/dist/sandstone/_bootswatch.scss";