/*!
Bootswatch pulse theme
https://bootswatch.com/pulse/
*/
@import "../../../../../node_modules/bootswatch/dist/pulse/_variables.scss";
@import "javatmp-default.scss";
@import "../../../../../node_modules/bootswatch/dist/pulse/_bootswatch.scss";