/*!
Bootswatch litera theme
https://bootswatch.com/litera/
*/
@import "../../../../../node_modules/bootswatch/dist/litera/_variables.scss";
@import "javatmp-default.scss";
@import "../../../../../node_modules/bootswatch/dist/litera/_bootswatch.scss";