@import "../common/variables.scss";

.main-breadcrumb-bar {
    @media (min-width: 768px) {
        body.sidebar-active .main-content > & {
            left: 0;
            right: $javatmp-sidebar-width;
        }
    }
    body.mouse-auto-show.sidebar-active .main-content > & {
        left: 0px;
        right: 0px;
    }
    .breadcrumb {
        padding: 0 1rem 0 0;
    }
}

