/*!
Bootswatch cerulean theme
https://bootswatch.com/cerulean/
*/
@import "../../../../../node_modules/bootswatch/dist/cerulean/_variables.scss";
@import "javatmp-default.scss";
@import "../../../../../node_modules/bootswatch/dist/cerulean/_bootswatch.scss";