@import "../common/variables.scss";

.main-footer-bar {
    bottom: 0;
    text-align: center;
    z-index: $javatmp-footer-bar-z-index;
    left: 0;
    right: 0;
    height: $javatmp-footer-bar-height;
    border-top: $javatmp-footer-bar-border-width solid $javatmp-footer-bar-border-color;
    background-color: $javatmp-footer-bar-bg;
    @media (min-width: 768px) {
        position: fixed;
    }
    .footer-content {
        height: $javatmp-footer-bar-height;
        a {
            vertical-align: middle;
        }
    }
}

// v0.0.3: Added to support for theme colors
.main-footer-bar {
    @each $color, $value in $theme-colors {
        &.bg-#{$color} {
            $temp-color: color-yiq($value);
            border-top-color: $value;
            background-color: $value;
            color: $temp-color;
            a {
                color: $temp-color;
            }
        }
    }
}



