
// --- override default bootstrap variables here

// Include Required parts of Bootstrap
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

// Global Path Variables:
$javatmp-font-path: "../fonts" !default;
$javatmp-img-path: "../img" !default;

// JavaTMP Global Variables
$javatmp-primary-bg: $primary!default;
$javatmp-secondary-bg: $gray-200!default;
$javatmp-transition: $transition-base!default;

$javatmp-main-content-z-index: 1!default;
$javatmp-breadcrumb-bar-z-index: 998!default;
$javatmp-navbar-z-index: 999!default;
$javatmp-sidebar-z-index: 1000!default;
$javatmp-footer-bar-z-index: 100!default;
//--------------------------------------------------

// JavaTMP Navbar variables
$javatmp-navbar-height: 3.4rem!default;
$javatmp-navbar-menu-enable-border: false!default;
$javatmp-navbar-bg: $javatmp-primary-bg!default;
$javatmp-navbar-brand-color: $white!default;
$javatmp-navbar-toggler-color: $white!default;
$javatmp-navbar-toggler-border-color: $navbar-dark-toggler-border-color!default;
$javatmp-navbar-toggler-icon-bg-image: $navbar-dark-toggler-icon-bg!default;
$javatmp-navbar-border-color: $javatmp-secondary-bg!default;
$javatmp-navbar-border-width: $border-width!default;

$javatmp-navbar-menu-link-color: $navbar-dark-active-color!default;
$javatmp-navbar-menu-link-hover-color: $navbar-dark-active-color!default;
$javatmp-navbar-menu-link-hover-bg: darken($primary, 7.5%)!default;
$javatmp-navbar-menu-link-active-color: $navbar-dark-active-color!default;
$javatmp-navbar-menu-link-active-bg: darken($primary, 12%)!default;
//--------------------------------------------------

// JavaTMP Sidebar:
$javatmp-sidebar-width: 18rem!default;
$javatmp-sidebar-bg: $javatmp-secondary-bg!default;
$javatmp-sidebar-link-color: $link-color!default;

$javatmp-sidebar-border-width: $border-width!default;
$javatmp-sidebar-border-color: $border-color!default;
//--------------------------------------------------

// JavaTMP BreadcrumbBar variables
$javatmp-breadcrumb-bar-height: 2.5rem!default;
$javatmp-breadcrumb-bar-bg: $javatmp-secondary-bg!default;
$javatmp-breadcrumb-link-color: $primary!default;
$javatmp-breadcrumb-link-active-color: darken($primary, 10%)!default;
//--------------------------------------------------

// JavaTMP Main Content variables
$javatmp-main-content-page-header-border-bottom-color: $border-color!default;
$javatmp-main-content-page-header-h1-font-size: $font-size-lg!default;
$javatmp-main-content-page-header-h1-color: $body-color!default;
//--------------------------------------------------

// JavaTMP Footer variables
$javatmp-footer-bar-bg: $javatmp-secondary-bg!default;
$javatmp-footer-bar-height: 2rem!default;
$javatmp-footer-bar-border-width: $border-width!default;
$javatmp-footer-bar-border-color: $border-color!default;
//--------------------------------------------------

//*********************************
// JavaTMP Plugins Customization
//*********************************

// Daterangepicker Plugin Custom variables:
// override to support darken theme:
$daterangepicker-cell-color:                 $dropdown-link-color !default;
$daterangepicker-cell-hover-color:           $dropdown-link-hover-color!default;
$daterangepicker-cell-hover-bg-color:        $dropdown-link-hover-bg!default;

// Overriding font-awesome font path files
$fa-font-path: $javatmp-font-path!default;
