@import "../common/variables.scss";
body {
    padding-top: $javatmp-navbar-height;
    padding-bottom: 0;
    overflow-x: hidden;
    position: relative;
}

.main-content {
    z-index: $javatmp-main-content-z-index;
    margin-left: 0px;
    transition: $javatmp-transition;
}

.main-body-content-container {
    padding: $javatmp-breadcrumb-bar-height ($grid-gutter-width / 2) 0 ($grid-gutter-width / 2);
}

// mobile and small devices
body.sidebar-active .main-content {
    margin-left: 0px;
}

@media (min-width: 768px) {
    /* Shift main-content on larger devices  */
    body.sidebar-active .main-content {
        margin-left: $javatmp-sidebar-width;
    }
    body {
        padding-bottom: $javatmp-footer-bar-height;
    }
}

body.mouse-auto-show.sidebar-active .main-content {
    margin-left: 0px;
}

// v0.0.3: Added to support for theme colors
body {
    @each $color, $value in $theme-colors {
        &.bg-#{$color} {
            $temp-color: color-yiq($value);
            .main-body-content-container {
                border-bottom-color: $value;
                background-color: $value;
                color: $temp-color;
                .card {
                    background-color: $value;
                    color: $temp-color;
                    border-color: darken($value, 5%);
                }
                .card-header {
                    color: $temp-color;
                    background-color: $value;
                    border-bottom-color: darken($value, 5%);
                }
                .card-footer {
                    color: $temp-color;
                    background-color: $value;
                    border-top-color: darken($value, 5%);
                }
                /*                .card-body {
                                    background-color: $value;
                                    color: $temp-color;
                                }*/
            }
        }
    }
}
.dropdown-item.disabled, .dropdown-item:disabled {
    cursor: not-allowed;
}

.card-placeholder {
    border: $card-border-width dotted $card-border-color;
    border-radius: $card-border-radius;
    padding: 0;
}