/*!
Bootswatch united theme
https://bootswatch.com/united/
*/
@import "../../../../../node_modules/bootswatch/dist/united/_variables.scss";
@import "../javatmp-default.scss";
@import "../../../../../node_modules/bootswatch/dist/united/_bootswatch.scss";